
@{
    ViewBag.Title = "ThanhToanSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center text-danger">GIỎ HÀNG</h1>
<div>
    <h1 class="text-center text-success">Thanh toán thành công!!!!</h1>
</div>

